@font-face {
    font-family: FZNew BaoSong-Z12S;
    font-weight: 200;
    src: url('./FZNew BaoSong-Z12S.TTF');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0px;
}

.homeImg {
    width: 100%;
    height: 100%;
}

.homeTitle {
    position: absolute;
    width: 33vw;
    top: 20vh;
    left: 32.2vw;
    z-index: 99;
}
.start {
    position: absolute;
    top: 55vh;
    left: 45.5vw;
    box-sizing: border-box;
    z-index: 99;
    color: rgba(250, 255, 255, 1);
    font-size: 1.2vw;
    text-decoration: none;
}

.title {
    position: relative;
    width: 6vw;
    height: 6vw;
    border: 0.105vw solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}
.titltContext{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 28px;
}

#aboutContaienr :hover {
    cursor: pointer;
}

.introduction {
    position: absolute;
    z-index: 999;
    left: 5vw;
    top: 13vh;
    color: rgba(250, 255, 255, 1);
    width: 21vw;
    border: 1px solid white;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;
    height: 80vh;
}

h5{
    text-align: justify;
}

.close {
    position: absolute;
    width: 1vw;
    right: 1vw;
    top: 3vh;
}
.aboutUs{
    position: absolute;
    top: 80vh;
    left: 46.5vw;
    box-sizing: border-box;
    z-index: 99;
    color: rgba(250, 255, 255, 1);
    font-family: FZNew BaoSong-Z12S;
    font-size: 1.2vw;
}
.about {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 99;
}
.aboutUsContext{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: small;
}

.point {
    position: relative;
    top: 1.6vh;
    left: 0vw;
    float: left;
    width: 0.3vw;
    height: 0.3vw;
    margin: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}