.loading {
    width: 360px;
    height: 360px;
    margin-top: 50px;
}

.loadingFive{
width: 150px;
height: 15px;
margin: 0 auto;
margin-top:100px;
}
.loadingFive span{
display: inline-block;
width: 15px;
height: 100%;
margin-right: 5px;
background: #ec97b1;
-webkit-transform-origin: right bottom;
-webkit-animation: load 1s ease infinite;
}
.loadingFive span:last-child{
margin-right: 0px;
}
@-webkit-keyframes load{
0%{
opacity: 1;
}
100%{
opacity: 0;
-webkit-transform: rotate(90deg);
}
}
.loadingFive span:nth-child(1){
-webkit-animation-delay:0.13s;
}
.loadingFive span:nth-child(2){
-webkit-animation-delay:0.26s;
}
.loadingFive span:nth-child(3){
-webkit-animation-delay:0.39s;
}
.loadingFive span:nth-child(4){
-webkit-animation-delay:0.52s;
}
.loadingFive span:nth-child(5){
-webkit-animation-delay:0.65s;
}.loadingTwo{
width: 150px;
height: 4px;
border-radius: 2px;
margin: 0 auto;
margin-top:100px;
position: relative;
background: #ec97b1;
-webkit-animation: changeBgColor 1.04s ease-in infinite alternate;
animation: changeBgColor 1.04s ease-in infinite alternate;
}
.loadingTwo span{
display: inline-block;
width: 16px;
height: 16px;
border-radius: 50%;
background: #ec97b1;
position: absolute;
margin-top: -7px;
margin-left:-8px;
-webkit-animation: changePosition 1.04s ease-in infinite alternate;
animation: changePosition 1.04s ease-in infinite alternate;
}
@-webkit-keyframes changeBgColor{
0%{
background: #ec97b1;
}
100%{
background: f8e200;
}
}
@-webkit-keyframes changePosition{
0%{
background: #ec97b1;
}
100%{
margin-left: 142px;
background: f8e200;
}
}.loadingFive{
width: 150px;
height: 15px;
margin: 0 auto;
margin-top:100px;
}
.loadingFive span{
display: inline-block;
width: 15px;
height: 100%;
margin-right: 5px;
background: #ec97b1;
-webkit-transform-origin: right bottom;
-webkit-animation: load 1s ease infinite;
}
.loadingFive span:last-child{
margin-right: 0px;
}
@-webkit-keyframes load{
0%{
opacity: 1;
}
100%{
opacity: 0;
-webkit-transform: rotate(90deg);
}
}
.loadingFive span:nth-child(1){
-webkit-animation-delay:0.13s;
}
.loadingFive span:nth-child(2){
-webkit-animation-delay:0.26s;
}
.loadingFive span:nth-child(3){
-webkit-animation-delay:0.39s;
}
.loadingFive span:nth-child(4){
-webkit-animation-delay:0.52s;
}
.loadingFive span:nth-child(5){
-webkit-animation-delay:0.65s;
}